@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 96%; /* #F4F4F5 */
        --foreground: 225 13% 27%; /* #3B3C4A - adjusted to be darker */
        --card: 0 0% 100%;
        --card-foreground: 225 13% 27%; /* #3B3C4A */
        --popover: 0 0% 100%;
        --popover-foreground: 225 13% 27%; /* #3B3C4A */
        --primary: 230 96% 64%; /* #4B6BFB */
        --primary-foreground: 0 0% 100%;
        --secondary: 240 2% 91%; /* #E8E8EA */
        --secondary-foreground: 225 13% 27%; /* #3B3C4A */
        --muted: 240 1% 46%; /* #696A75 */
        --muted-foreground: 240 2% 60%; /* #97989F */
        --accent: 240 2% 91%; /* #E8E8EA */
        --accent-foreground: 220 8% 34%; /* #52535F */
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 100%;
        --border: 240 2% 91%; /* #E8E8EA */
        --input: 240 2% 91%; /* #E8E8EA */
        --ring: 230 96% 64%; /* #4B6BFB */
        --radius: 0.3rem;
    }

    .dark {
        --background: 225 23% 13%; /* #181A2A */
        --foreground: 0 0% 96%; /* #F4F4F5 */
        --card: 225 23% 13%; /* #181A2A */
        --card-foreground: 0 0% 96%; /* #F4F4F5 */
        --popover: 225 23% 13%; /* #181A2A */
        --popover-foreground: 0 0% 96%; /* #F4F4F5 */
        --primary: 230 96% 64%; /* #4B6BFB */
        --primary-foreground: 0 0% 100%;
        --secondary: 225 13% 27%; /* #3B3C4A */
        --secondary-foreground: 0 0% 96%; /* #F4F4F5 */
        --muted: 240 1% 46%; /* #696A75 */
        --muted-foreground: 240 2% 60%; /* #97989F */
        --accent: 225 13% 27%; /* #3B3C4A */
        --accent-foreground: 0 0% 96%; /* #F4F4F5 */
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 100%;
        --border: 225 13% 27%; /* #3B3C4A */
        --input: 225 13% 27%; /* #3B3C4A */
        --ring: 230 96% 64%; /* #4B6BFB */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
